body {
  margin: 0;
  padding: 0;
}

/*html, body, h1, h2, h3, p, span, label, a {
  font-family: 'Lato', sans-serif;
}*/

body {
  font-family: 'Titillium Web', sans-serif;
}

.heading {
  font-weight: 700;
}

.subheading {
  font-weight: 300;
}
